{% extends "layout.html" %}

{% block title %}
    Here you can buy any stock! Just put the name and the amount below
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" id="symbol">
                <option disabled selected>--Please choose an option--</option>
                {% for stock in available_stocks %}
                    <option value="{{ stock.stock }}">{{ stock.stock }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
